
.player-btn {
    box-shadow: 4px 4px 8px gray;
    border: none;
}
.player-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.selected-player{
    display: flex;
    justify-content: space-around;
}
.hero{
    /* border: 2px; */
    /* border: solid; */
    padding: 16px;
    text-align: center;
    
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.card2{
    justify-items: end;
    /* justify-content: end; */
    text-align: end;
}
.players-list{
    text-align: center;
    border: 2px solid gray;
    box-shadow: 4px 4px 8px gray;
}